* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
p {
  margin: 0;
}

.smart-bar {
  background-color: #c2e9eb;
  /* padding: 10px 20px; */
  text-align: center;
  height: 54px;
}
.smart-bar h4 {
  letter-spacing: 0.7px;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center; /* centers the text vertically */
  justify-content: center; /* optional: centers horizontally */
  gap: 5px; /* space between title and subtitle */
}

.smart-bar-title {
  font-weight: 800;
  font-size: 15px;
  margin-top: 1px;
}

.smart-bar-subtitle {
  font-weight: 400;
  letter-spacing: 0;
}
